<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/apk/res-auto"
    package="com.ijzepeda.friendsknowsbest">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- No need to add internet permissions for Firebase :) -->
    <!-- <uses-sdk tools:overrideLibrary="com.facebook"/> -->
    <application
        android:allowBackup="true"
        android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:screenOrientation="portrait"
            />
        <activity android:name=".Offline"
            android:screenOrientation="portrait"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ijzepeda.friendsknowsbest.MainActivity" />
        </activity>
        <activity android:name=".LoginActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ijzepeda.friendsknowsbest.MainActivity" />
        </activity>
        <activity android:name=".RegisterUser"
            android:screenOrientation="portrait"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            />
        <activity android:name=".NewGame"
            android:screenOrientation="portrait"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ijzepeda.friendsknowsbest.MainActivity" />
        </activity>
        <activity android:name=".LoadActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ijzepeda.friendsknowsbest.MainActivity" />
        </activity>
        <activity android:name=".Settings"
            android:screenOrientation="portrait"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ijzepeda.friendsknowsbest.MainActivity" />
        </activity>
        <activity android:name=".futurefeatures.FavoriteCards"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".GameActivity"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:screenOrientation="portrait"
            android:exported="true" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ijzepeda.friendsknowsbest.MainActivity" />
        </activity>
        <activity android:name=".ResultsActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ijzepeda.friendsknowsbest.MainActivity" />
        </activity>
        <activity
            android:name=".AddPlayerToGameActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:launchMode="singleInstance"
            android:noHistory="true"
            android:screenOrientation="portrait"
            >

            <!-- android:theme="@android:style/Theme.NoDisplay" -->
            <intent-filter>

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="r2qvt.app.goo.gl"
                    android:scheme="http" />
                <data
                    android:host="r2qvt.app.goo.gl"
                    android:scheme="https" />
                <data
                    android:host="ijzepeda.com"
                    android:scheme="http" />
                <data
                    android:host="ijzepeda.com"
                    android:scheme="https" />
                <!-- <data android:host="example.com" android:scheme="http"/> -->
                <!-- <data android:host="example.com" android:scheme="https"/> -->
            </intent-filter>


            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ijzepeda.friendsknowsbest.MainActivity" />
        </activity>



        <!-- WIDGET2 -->

        <receiver
            android:name=".widget2.WidgetProvider2"
            android:icon="@mipmap/logo"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_provider" />
        </receiver>

        <service
            android:name=".widget2.WidgetService2"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <activity android:name=".GameOverResults"
            android:screenOrientation="portrait"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ijzepeda.friendsknowsbest.MainActivity" />
        </activity>
    </application>

</manifest>